<script src="/javascripts/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
<script src="/javascripts/jquery.min.js"></script>
<script src="/javascripts/todofeature.js"></script>
  </body>
</html>